.App {
  text-align: center;
}
/* shopping address styles  */
.shopping-address-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
}
.bill-address{
  width: 50%;
  padding: 0 20px 0 5px;
}
.bill-address h3,
.shoping-address h3{
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(87, 87, 87);
}

.input-group{
  margin: 20px 0;
  position: relative;
}
.input-group label{
  font-size: 20px;
  font-weight: 200;
  font-family: sans-serif;

}
.countries{
  padding: 5px 0 5px 15px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(198, 196, 196, 0.787);
  border-radius: 3px;
  margin: 3px 0;
  cursor: pointer;
}
.icon-container .icon{
  height: 20px;
  font-weight: 500;
  margin-right: 10px;
  transition:300ms ease-in-out;
}
.icon-container .icon.active{
  transform: rotate(-180deg);
}
.select-container{
  padding: 10px;
  position: absolute;
  width: 95%;
  z-index: 99;
  background-color: #f0f0f0;
  border-radius: 3px;
  display: none;
  box-shadow: 0px 1px 1px lightgray;

}
.select-container.active{
  display: block;
}
.select-items{
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}
.select-items::-webkit-scrollbar{
  width: 10px;
}
.select-items::-webkit-scrollbar-track{
  height: 100%;
}
.select-items::-webkit-scrollbar-thumb{
  background-color: #878787;
  border-radius:20px;
  transition: 400ms ease-in-out;
}
.select-items::-webkit-scrollbar-thumb:hover{
  background-color: #2a3447;
}
.select-container input{
  width: 93%;
  padding: 5px 12px;
  outline: 0;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid rgba(198, 196, 196, 0.787);
  border-radius: 3px;
}
.select-container ul{
  list-style: none;
  padding: 2px;
}
.select-container ul span{
  text-align: center;
}
.select-container ul li{
  margin: 5px 0;
  padding: 3px 10px;
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  transition: 300ms ease-in-out;
  border-radius: 3px;
}
.select-container ul li:hover{
  color: aqua;
  font-weight: 500;
  background-color: white;
}
.inputText{
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid rgba(198, 196, 196, 0.787);
  background-color: #f0f0f0;
  outline: 0;
  width: 95.5%;
}
.shoping-head{
  display: flex;
} 
.btn-copy{
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 0;
  outline: 0;
  margin: 0 10px;
  padding: 0 5px ;
  color: blue;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}
.btn-icon{
  height: 20px;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 99;
}
.modal-content{
  background-color: #d1d1d1;
  position: relative;
  height: 500px;
  margin-top: 100px;
  min-width: 500px;
  z-index: 99;
  box-shadow: 0 1px 3px lightgray;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.modal-icon{
  height: 35px;
  color: black;
}